* {
  box-sizing: border-box;
}

.left-box {
  margin: 20px;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: auto;
  border: 3px solid #FE7DDA;
  padding: 20px;
}

.right-box {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: auto;
  border: 3px solid #FE7DDA;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Garamond", serif;
  flex: 1;
}

p {
  font-family: "Garamond", serif;
}

span {
  font-family: "Garamond", serif;
}

.contact-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-decoration: underline;
}

.contact-list a {
  text-decoration: underline;
  color: #761ab2;
  font-family: "Garamond", serif;
}

.contact-list a:hover {
  color: #fdc1f9;
}
